# Database files
*.db
*.sqlite
*.sqlite3

/target
/classes
/checkouts
profiles.clj
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
/.prepl-port
.hgignore
.hg/

# IDE and development files
.calva/
.clj-kondo/
.lsp/
.lein-failures
.lein-repl-history
